@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/images/bg-pattern-top-desktop.svg") no-repeat top left, url("/images/bg-pattern-bottom-desktop.svg") no-repeat right bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
}
body > main {
  margin-bottom: 20px;
}
body > main > section {
  max-width: 1200px;
  margin: 0 30px;
}
body > main > section > .grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
}
body > main > section > .grid1 > .texts {
  margin-right: 150px;
}
body > main > section > .grid1 > .texts > h1 {
  color: #541f55;
  font-size: 60px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
body > main > section > .grid1 > .texts > p {
  color: #7f757e;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
body > main > section > .grid1 > .ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > main > section > .grid1 > .ratings > div {
  display: flex;
  margin: 8px 0;
  border-radius: 10px;
  background-color: #f7f2f8;
  width: 450px;
  padding: 20px 30px;
}
body > main > section > .grid1 > .ratings > div > div {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 32px;
}
body > main > section > .grid1 > .ratings > div > span {
  color: #541f55;
  font-weight: 700;
  font-size: 18px;
}
body > main > section > .grid1 > .ratings > :nth-child(1) {
  align-self: flex-start;
}
body > main > section > .grid1 > .ratings > :nth-child(2) {
  align-self: center;
}
body > main > section > .grid1 > .ratings > :nth-child(3) {
  align-self: flex-end;
}
body > main > section > .grid2 {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
body > main > section > .grid2 > div {
  border-radius: 10px;
  padding: 42px 30px;
  background-color: #511f50;
}
body > main > section > .grid2 > div > .card-img {
  display: flex;
}
body > main > section > .grid2 > div > .card-img > img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 22px;
}
body > main > section > .grid2 > div > .card-img > div {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
body > main > section > .grid2 > div > .card-img > div > .span1 {
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
}
body > main > section > .grid2 > div > .card-img > div > .span2 {
  color: #cf7eb5;
}
body > main > section > .grid2 > div > .card-pera > p {
  color: hsl(0deg, 0%, 100%);
  line-height: 21px;
  margin-top: 25px;
}
body > footer {
  color: #7f757e;
  text-align: center;
  font-size: 18px;
}
body > footer > a {
  text-decoration: none;
  color: #cf7eb5;
  font-weight: 600;
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
  body {
    background: url("/images/bg-pattern-top-mobile.svg") no-repeat top left, url("/images/bg-pattern-bottom-mobile.svg") no-repeat right bottom;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
  }
  body > main {
    margin-bottom: 20px;
  }
  body > main > section {
    max-width: 1200px;
    margin: 50px 20px 0;
  }
  body > main > section > .grid1 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }
  body > main > section > .grid1 > .texts {
    margin: auto;
    text-align: center;
  }
  body > main > section > .grid1 > .texts > h1 {
    color: #541f55;
    font-size: 50px;
    letter-spacing: -2px;
    margin-bottom: 30px;
  }
  body > main > section > .grid1 > .texts > p {
    color: #7f757e;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }
  body > main > section > .grid1 > .ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  body > main > section > .grid1 > .ratings > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
    border-radius: 10px;
    background-color: #f7f2f8;
    width: 100%;
  }
  body > main > section > .grid1 > .ratings > div > div {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 0px;
    margin-bottom: 14px;
  }
  body > main > section > .grid1 > .ratings > div > span {
    color: #541f55;
    font-weight: 700;
    font-size: 18px;
  }
  body > main > section > .grid1 > .ratings > :nth-child(1) {
    align-self: center;
  }
  body > main > section > .grid1 > .ratings > :nth-child(2) {
    align-self: center;
  }
  body > main > section > .grid1 > .ratings > :nth-child(3) {
    align-self: center;
  }
  body > main > section > .grid2 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  body > footer {
    margin: 0px 18px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
  body {
    background: url("/images/bg-pattern-top-desktop.svg") no-repeat top left, url("/images/bg-pattern-bottom-desktop.svg") no-repeat right bottom;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
  }
  body > main {
    margin-bottom: 20px;
  }
  body > main > section {
    max-width: 1200px;
    margin: 50px 30px;
  }
  body > main > section > .grid1 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 60px;
  }
  body > main > section > .grid1 > .texts {
    margin: auto;
    text-align: center;
  }
  body > main > section > .grid1 > .texts > h1 {
    color: #541f55;
    font-size: 60px;
    letter-spacing: -2px;
    margin-bottom: 30px;
  }
  body > main > section > .grid1 > .texts > p {
    color: #7f757e;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding: 0px 100px;
  }
  body > main > section > .grid1 > .ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body > main > section > .grid1 > .ratings > div {
    display: flex;
    margin: 8px 0;
    border-radius: 10px;
    background-color: #f7f2f8;
    width: 450px;
    padding: 20px 30px;
  }
  body > main > section > .grid1 > .ratings > div > div {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 32px;
  }
  body > main > section > .grid1 > .ratings > div > span {
    color: #541f55;
    font-weight: 700;
    font-size: 18px;
  }
  body > main > section > .grid1 > .ratings > :nth-child(1) {
    align-self: flex-start;
  }
  body > main > section > .grid1 > .ratings > :nth-child(2) {
    align-self: center;
  }
  body > main > section > .grid1 > .ratings > :nth-child(3) {
    align-self: flex-end;
  }
  body > main > section > .grid2 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  body > main > section > .grid2 > div {
    border-radius: 10px;
    padding: 42px 30px;
    background-color: #511f50;
  }
  body > main > section > .grid2 > div > .card-img {
    display: flex;
  }
  body > main > section > .grid2 > div > .card-img > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 22px;
  }
  body > main > section > .grid2 > div > .card-img > div {
    display: flex;
    flex-direction: column;
    line-height: 20px;
  }
  body > main > section > .grid2 > div > .card-img > div > .span1 {
    color: hsl(0deg, 0%, 100%);
    font-weight: 500;
  }
  body > main > section > .grid2 > div > .card-img > div > .span2 {
    color: #cf7eb5;
  }
  body > main > section > .grid2 > div > .card-pera > p {
    color: hsl(0deg, 0%, 100%);
    line-height: 21px;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1040px) {
  body > main > section {
    margin: 20px 30px;
  }
  body > main > section > .grid1 > .texts {
    margin-right: 50px;
  }
}/*# sourceMappingURL=style.css.map */